/* Haidi Yu 40484424 */
*{
    background: green;
    box-sizing: border-box;
}

.questions{
    background: lightblue;
    margin: 3rem auto;
    width: 650px;
    padding: 25px;
    cursor: default;
}
#question{
    margin-bottom: 1rem;
    background: lightblue;
}
.option{
    width: 300px;
    background: deepskyblue;
    border-radius: 10px;
    margin-bottom: 9px;
    font-size: 17pt;
    border-bottom: solid 2px blue;
    border-right: solid 2px blue;

}
.option:hover{
    color: white;
}

ol{
    position: relative;
    padding: 0 25px;
    color: black;
    background: lightblue;
}
span{
    display: block;
    padding: 2px 12px;
    border-radius: 10px;
}
.buttons{
    text-align: center;
}
button{
    font-size: 30pt;
    border-radius: 25px;
    color: darkblue;
    background: lightgreen;
    padding: 15px 30px;
    border: none;
    outline: none;

}
button:active{
    background: violet;
}

#answer{
    margin-top: 23px;
}
#stage{
    margin-top: 25px;
    color: mediumblue;
    background: lightblue;
}

#scoreboard{
    width: 450px;
    background: lightblue;
    position: relative;
    padding: 20px;
    text-align: center;
    margin: auto;
    top: 200px;
    display: none;
}
#score-title{
    margin: 5px;
    background: lightblue;
}
#Restart,#seeAnswer{
    margin-top: 40px;
}
#score{
    font-size: 50pt;
    background: blue;
    border-radius: 10px;
}
