{% extends 'base.html' %}
{% block title %} Quiz {% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <!-- hover change color -->
    <style>
        input[type='radio'] {
            width: 20px;
            height: 20px;
            border: 2px solid grey;
            border-radius: 50%;
            outline: none;
            opacity: 0.6;
        }

        input[type='radio']:hover:before {
            box-shadow: 0px 0px 0px 12px #5050c8;
            border-radius: 50%;
            opacity: 1;
        }

        input[type='radio']:before {
            content: '';
            display: block;
            width: 60%;
            height: 60%;
            margin: 10%;
            padding: 10%;
            border-radius: 50%;
            transition: 0.3s;
        }
    </style>
    <script>

    </script>
    <!-- make question container -->
    {% for i in quizs %}
        <div id = 'quiz-boxes' class="card" style="width: auto; margin-left: 10%; margin-right: 10%; margin-top: 1%; margin-bottom: 2%">
            <div id="{{i[1]}}" class="card-header" >
                Question {{quizs.index(i) + 1 }} : {{i[1]}}
            </div>
            <form action="/submitquiz" method="POST">
                {% for e in options if e[0] == i[0] %}
                    {% for x in e if e.index(x) != 0 %}
                        <label>
                            <input type="radio" class="choice" name="option" value="{{x}}">
                        </label> {{x}} <br>
                    {% endfor %}
                {% endfor %}
            </form>
        </div>
    {% endfor %}

    <!-- submit button-->
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="w-100 btn btn-lg btn-outline-primary" type="submit">
            <a href="/score" style="color:inherit"> Submit </a>
        </button>
    </div>
    <!--
    a attempt to return user selection
    <form action="/submitquiz" method="get">
        <input type="submit" name="submitquiz" value="Submit">
    </form>
    -->
<script>

<!--
when hit submit button, return user selection to server side, Difficulties encountered: invalid data type
console.log("option");
document.querySelector('input[name="option"]:checked').value;
-->

</script>

{% endblock %}