{% extends 'base.html' %}
{% block content %}
	<p>The timer block</p>
	<h1 id="title">quiz topic</h1>

	<!-- make question container -->
	<div id="container">
    		<div class="questions">
        	<h2 id="question"></h2>
        	<!-- An ordered list of items with number -->
        	<ol type="A">
            		<li class="option"><span id="option0" onclick="scoring(this)"></span></li>
            		<li class="option"><span id="option1" onclick="scoring(this)"></span></li>
            		<li class="option"><span id="option2" onclick="scoring(this)"></span></li>
            		<li class="option"><span id="option3" onclick="scoring(this)"></span></li>
        	</ol>
        	<h4 id="stage"></h4>
    		</div>

    		<div class="buttons">
        		<button type="button" class="next">Next</button>
    		</div>
	</div>

	<!-- show score -->
	<div id="scoreboard">
    		<h2 id="score-title">Your Score</h2>
    		<h2 id="score"></h2>
    		<!-- HTML buttons -->
    		<button type="button" id="Restart" onclick="backToQuiz()">Restart</button>
    		<!-- <button onclick="window.location.href='answer.html';">See answer</button> -->
	</div>

	<!-- call javascript file -->
        <script src='{{url_for('static', filename='quiz.js')}}'></script>
{% endblock %}
