{% extends 'base.html' %}

{% block head %}
    <style>
        div#quiz-boxes {
                margin: 10%
                }
        li.list-group-item:hover {
                background-color:lightgrey;
                }
    </style>
    <script>
    </script>
{% endblock %}

{% block content %}
    <!-- make question container -->
    {% for i in quizs %}
        <div id = 'quiz-boxes' class="card" style="width: auto; margin-left: 10%; margin-right: 10%; margin-top: 1%; margin-bottom: 2%">
            <div id="{{i[1]}}" class="card-header" >
                Question {{quizs.index(i)+1}} : {{i[1]}}
            </div>
            <ul class="list-group list-group-flush">
                {% for e in options if e[0] == i[0] %}
                    {% for x in e if e.index(x) != 0 %}
                            <li id="{{x}}" class="list-group-item" onclick = "judge({{e[0]}}, '{{x}}' )"> {{x}} </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

<script>
    //interact click choose true wrong

</script>

{% endblock %}